Package: winexe
Version: 1.1~20130620-0kali4
Architecture: amd64
Maintainer: Raphaël Hertzog <hertzog@debian.org>
Installed-Size: 155
Depends: libc6 (>= 2.2.5), libdcerpc0, libndr-standard0, libndr0, libpopt0 (>= 1.14), libsamba-credentials0, libsamba-hostconfig0, libsamba-util0, libsmbclient-raw0, libtalloc2 (>= 2.0.4~git20101213), libtevent0 (>= 0.9.9)
Section: net
Priority: optional
Description: Remote Windows-command executor
 Winexe remotely executes commands on Windows NT/2000/XP/2003 systems from
 GNU/Linux (and possibly also from other Unices capable of building the Samba 4
 software package).
