Source: pup-volume-monitor
Section: gnome
Priority: extra
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: debhelper (>= 5), binutils-multiarch, mime-support. libpopt0:amd64, file, libgcc-4.7-dev:amd64, libmagic1:amd64, locales-all, cpp-4.7, gcc-4.7, uuid-dev, libglib2.0-dev, libudev-dev, libblkid-dev, locales, libc6-i386, libsigsegv2:amd64. pkg-config, libc6-x32. gawk, cpio
Standards-Version: 3.9.2

Package: pup-volume-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Description: this is the experemental version of
	a udisks replacement, unlike udevil and cousins
	it should work with gnome file managers
