Package: nvidia-cuda-toolkit
Version: 5.0.35-8
Architecture: amd64
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Installed-Size: 55610
Depends: nvidia-profiler (= 5.0.35-8), nvidia-cuda-dev (= 5.0.35-8), nvidia-opencl-dev (= 5.0.35-8) | opencl-dev, gcc-4.6 | gcc-4.5 | gcc-4.4, g++-4.6 | g++-4.5 | g++-4.4, libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.6)
Recommends: nvidia-cuda-doc (= 5.0.35-8), nvidia-cuda-gdb (= 5.0.35-8), nvidia-visual-profiler (= 5.0.35-8)
Suggests: libcupti-dev
Section: non-free/devel
Priority: extra
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA toolkit
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the nvcc compiler etc.
